$primary: #2a8086;
$secondary: #0d444d;
$tertiary: #c5e1e5;
$hero-color: #f3f7f8;
$btn-color: #0d444d;
$boxShadow: #b9d5d999;

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Roboto;
}

button {
    cursor: pointer;
    border: 0;
    background: none;
    outline: none;
}
input {
    border: 0;
    outline: none;
}
body {
    background-color: #f6f9fa;
}

@mixin tr {
    transition: all 0.3s ease;
}

.header-hero {
    position: relative;
}

.logo {
    width: 108px;
    height: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-title {
        color: $secondary;
        font-weight: 500;
        font-size: 34.83px;
        line-height: 41px;
        letter-spacing: 2px;
    }
    &-container {
        display: flex;
        flex-direction: row;
    }
    &-icon {
        margin-left: 5px;
    }
}

.nav {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 52px;
    margin-left: 53px;
    &-link {
        font-family: Roboto Mono;
        font-weight: 500;
        color: $tertiary;
        text-transform: uppercase;
        line-height: 40px;
        @include tr;
        &:hover {
            color: $secondary;
            border-bottom: 2px solid;
        }
        &:first-child {
            border-bottom: 2px solid;
        }
    }
}

.header {
    background: $primary;
    min-height: 110px;
    display: flex;
    padding: 0 90px 0 220px;
    align-items: center;
    position: relative;

    &-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 90px;
        max-width: 500px;
        &__input {
            background: $tertiary;
            display: none;
        }
        &__search {
            width: 32px;
            height: 32px;
            background-image: url(./assets/icons/search.svg);
        }
        &__login {
            text-transform: uppercase;
            color: $tertiary;
            margin: 0 18px 0 50px;
            @include tr;
            &:hover {
                color: $secondary;
            }
        }
        &__signup {
            text-transform: uppercase;
            color: $tertiary;
            border: 1px solid #c5e1e6;
            border-radius: 100px;
            @include tr;
            &:hover {
                background: $tertiary;
                color: $secondary;
                box-shadow: 0px 2px 50px $boxShadow;
            }
        }
    }
}

.hero {
    min-height: 795px;
    max-width: 1920px;
    background: url(./assets/images/hero-bg.png) center no-repeat;
    padding: 0 220px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    &-container {
        max-width: 700px;
        padding-top: 103px;
    }
    &__title {
        font-family: Rubik;
        color: $hero-color;
        font-size: 72px;
        font-weight: 300;
        &-span {
            font-family: Rubik;
            font-weight: 500;
            font-size: 72px;
        }
    }
    &__text {
        max-width: 480px;
        margin: 27px 0 87px 0;
        color: $hero-color;
    }
    &__link {
        width: 252px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border: 1px solid #ffffff;
        box-shadow: 0px 2px 50px $boxShadow;
        border-radius: 100px;
        font-family: Roboto Mono;
        text-transform: uppercase;
        color: $btn-color;
        @include tr;
        &:hover {
            background: $primary;
            color: #fff;
        }
    }
    &-image {
        height: 666px;
        width: 804px;
        position: relative;

        &__link {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            @include tr;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.how {
    position: absolute;
    bottom: 39px;
    font-family: Rubik;
    text-transform: uppercase;
    color: $btn-color;
    font-size: 24px;
}

.about {
    padding: 100px 0 60px 0;
    max-width: 1480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__text {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: $secondary;
            margin-top: 14px;
        }
    }
    &-card {
        position: relative;
        width: 145px;
        height: 145px;
        background: #ffffff;
        box-shadow: 0px 2px 50px #0000000f;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__img {
            position: absolute;
        }
    }
}

.bg-image {
    display: block;
    margin: auto;
}

.pets {
    padding: 70px 0 100px 0;
    max-width: 1480px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 66px;
    align-items: center;
    &-title {
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $secondary;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    &-button {
        border: 1.5px solid #19707d;
        box-sizing: border-box;
        border-radius: 100px;
        font-family: Roboto Mono;
        font-size: 18px;
        line-height: 24px;
        width: 331px;
        height: 52px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        @include tr;
        color: #19707d;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: end;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        &::before {
            content: url(./assets/icons/heart-2.svg);
            margin: 5px 18px 0 0;
        }
        &:hover::before {
            content: url(./assets/icons/re.png);
            margin: 5px 8px 0 0;
        }
        &:hover {
            background: #19707d;
            box-shadow: 0 0px 80px #b8b8b8;
            color: #fff;
        }
    }
    &-container {
        display: grid;
        gap: 20px;
        justify-content: center;
        align-items: center;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        &__card {
            width: 480px;
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
            &-top {
                height: 273px;
                background: #fff;
                border-radius: 10px 10px 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #e5eaeb;
                @include tr;
            }
            &-link:hover {
                opacity: 0.7;
            }
            &-bottom {
                height: 91px;
                background: #fff;
                border-radius: 0 0 10px 10px;
                padding: 17px 0 21px 30px;
                display: grid;
                align-items: center;
                grid-template-rows: repeat(2, auto);
                position: relative;
                row-gap: 6px;
            }
            &-title {
                color: #2d2d2d;
                font-family: Roboto;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
            }
            &-text {
                font-size: 16px;
                line-height: 19px;
                color: #919191;
            }
            &-icon {
                position: absolute;
                right: 30px;
            }
        }
    }
}

.pay {
    height: 564px;
    max-width: 1920px;
    margin: auto;
    background: url(./assets/images/pay-bg.png) center no-repeat;
    padding: 0 220px 152px 220px;
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-columns: repeat(5, auto);
    position: relative;
    &-title {
        position: absolute;
        top: 102px;
        margin-left: 220px;
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $tertiary;
    }
    &-button {
        position: absolute;
        top: 90px;
        margin-right: 220px;
        justify-self: end;
        width: 356px;
        height: 52px;
        border-radius: 50px;
        background: $tertiary;
        font-family: Roboto Mono;
        line-height: 24px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: $btn-color;
        border: 1px solid $tertiary;
        filter: drop-shadow(0px 2px 20px $boxShadow);
        @include tr;
        &:hover {
            background: #fff;
            filter: drop-shadow(0px 2px 80px $boxShadow);
        }
    }
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__circle {
            width: 145px;
            height: 145px;
            background: #fff;
            box-shadow: 0px 2px 50px $boxShadow;
            border-radius: 100px;
            &-1 {
                background: url(./assets/icons/money.svg) no-repeat center #fff;
            }
            &-2 {
                background: url(./assets/icons/feed.svg) no-repeat center #fff;
            }
            &-3 {
                background: url(./assets/icons/happy.svg) no-repeat center #fff;
            }
        }
        &__text {
            margin-top: 14px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: $tertiary;
        }
    }
    &-arrow {
        margin-bottom: 80px;
    }
}

.testimonials {
    padding: 100px 220px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    row-gap: 64px;
    max-width: 1920px;
    margin: auto;
    &-title {
        grid-row: 1 / 2;
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $secondary;
    }
    &-button {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        justify-self: end;
        width: 255px;
        height: 52px;
        border-radius: 50px;
        background: none;
        font-family: Roboto Mono;
        line-height: 24px;
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #19707d;
        border: 1.5px solid #19707d;
        justify-self: end;
        justify-content: center;
        @include tr;
        &:hover {
            background: #19707d;
            color: #fff;
            box-shadow: 0 0px 80px #b8b8b8;
        }
        &__icon {
            margin-right: 16px;
        }
    }
    &-container {
        width: 480px;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    &-tcard {
        background: url(./assets/images/white-rect.png);
        width: 100%;
        height: 220px;
        padding: 55px 56px 0 56px;
        border-radius: 10px;
        &__date {
            font-size: 14px;
            line-height: 16px;
            color: #b3b3b3;
        }
        &__text {
            margin-top: 10px;
            font-weight: 500;
            font-style: italic;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #2d2d2d;
        }
    }
    &-bcard {
        padding-left: 50px;
        display: flex;
        align-items: center;
        &__name {
            margin-left: 16px;
            font-style: italic;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            color: #000;
        }
    }
}

.animals {
    padding: 90px 220px 116px 220px;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
    &-title {
        position: absolute;
        left: 220px;
        top: 0;
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $secondary;
    }
    &-img {
        width: 76px;
        height: 73px;
    }
}

.footer {
    padding-left: 220px;
    background: #196469;
    min-height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    &-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 92px;
        bottom: 57px;
    }
    &-author {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
        text-align: right;
        text-transform: uppercase;
        color: #ffffff;
    }
}
