$primary: #2a8086;
$secondary: #0d444d;
$tertiary: #c5e1e5;
$hero-color: #f3f7f8;
$btn-color: #0d444d;
$boxShadow: #b9d5d999;

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@mixin tr {
    transition: all 0.3s ease;
}

.header-hero {
    position: relative;
}

.hero {
    min-height: 795px;
    max-width: 1920px;
    background: url(../../assets/images/hero-bg.png) center no-repeat;
    padding: 0 220px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    &-container {
        max-width: 700px;
        padding-top: 103px;
    }
    &__title {
        font-family: Rubik;
        color: $hero-color;
        font-size: 72px;
        font-weight: 300;
        &-span {
            font-family: Rubik;
            font-weight: 500;
            font-size: 72px;
        }
    }
    &__text {
        max-width: 480px;
        margin: 27px 0 87px 0;
        color: $hero-color;
    }
    &__link {
        width: 252px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border: 1px solid #ffffff;
        box-shadow: 0px 2px 50px $boxShadow;
        border-radius: 100px;
        font-family: Roboto Mono;
        text-transform: uppercase;
        color: $btn-color;
        @include tr;
        &:hover {
            background: $primary;
            color: #fff;
        }
    }
    &-image {
        height: 666px;
        width: 804px;
        position: relative;

        &__link {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            @include tr;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.how {
    position: absolute;
    bottom: 39px;
    font-family: Rubik;
    text-transform: uppercase;
    color: $btn-color;
    font-size: 24px;
}

.about {
    padding: 100px 0 60px 0;
    max-width: 1480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__text {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: $secondary;
            margin-top: 14px;
        }
    }
    &-card {
        position: relative;
        width: 145px;
        height: 145px;
        background: #ffffff;
        box-shadow: 0px 2px 50px #0000000f;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tr;
        &:hover {
            transform: rotate(360deg);
        }
        &__img {
            position: absolute;
        }
    }
}

.bg-image {
    display: block;
    margin: auto;
}

.pets {
    padding: 70px 0 100px 0;
    max-width: 1480px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 66px;
    align-items: center;
    &-title {
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $secondary;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    &-button {
        border: 1.5px solid #19707d;
        box-sizing: border-box;
        border-radius: 100px;
        font-family: Roboto Mono;
        font-size: 18px;
        line-height: 24px;
        width: 331px;
        height: 52px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        @include tr;
        color: #19707d;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: end;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        &::before {
            content: url(../../assets/icons/heart-2.svg);
            margin: 5px 18px 0 0;
        }
        &:hover::before {
            content: url(../../assets/icons/heart.png);
        }
        &:hover {
            background: #19707d;
            box-shadow: 0 0px 80px #b8b8b8;
            color: #fff;
        }
    }
    &-container {
        display: grid;
        gap: 20px;
        justify-content: center;
        align-items: center;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        &__card {
            width: 480px;
            box-shadow: 0px 2px 30px #0000000f;
            &-top {
                height: 273px;
                background: #fff;
                border-radius: 10px 10px 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #e5eaeb;
                @include tr;
            }
            &-link:hover {
                opacity: 0.7;
            }
            &-bottom {
                height: 91px;
                background: #fff;
                border-radius: 0 0 10px 10px;
                padding: 17px 0 21px 30px;
                display: grid;
                align-items: center;
                grid-template-rows: repeat(2, auto);
                position: relative;
                row-gap: 6px;
            }
            &-title {
                color: #2d2d2d;
                font-family: Roboto;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
            }
            &-text {
                font-size: 16px;
                line-height: 19px;
                color: #919191;
            }
            &-icon {
                position: absolute;
                right: 30px;
            }
        }
    }
}

.pay {
    height: 564px;
    max-width: 1920px;
    margin: auto;
    background: url(../../assets/images/pay-bg.png) center no-repeat;
    padding: 0 220px 152px 220px;
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-columns: repeat(5, auto);
    position: relative;
    &-title {
        position: absolute;
        top: 102px;
        margin-left: 220px;
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $tertiary;
    }
    &-button {
        position: absolute;
        top: 90px;
        margin-right: 220px;
        justify-self: end;
        width: 356px;
        height: 52px;
        border-radius: 50px;
        background: $tertiary;
        font-family: Roboto Mono;
        line-height: 24px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: $btn-color;
        border: 1px solid $tertiary;
        filter: drop-shadow(0px 2px 20px $boxShadow);
        @include tr;
        &:hover {
            background: #fff;
            filter: drop-shadow(0px 2px 80px $boxShadow);
        }
    }
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__circle {
            width: 145px;
            height: 145px;
            background: #fff;
            box-shadow: 0px 2px 50px $boxShadow;
            border-radius: 100px;
            @include tr;
            &-1 {
                background: url(../../assets/icons/money.svg) no-repeat center #fff;
            }
            &-2 {
                background: url(../../assets/icons/feed.svg) no-repeat center #fff;
            }
            &-3 {
                background: url(../../assets/icons/happy.svg) no-repeat center #fff;
            }
            &:hover {
                transform: rotate(360deg);
            }
        }
        &__text {
            margin-top: 14px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: $tertiary;
        }
    }
    &-arrow {
        margin-bottom: 80px;
    }
}

.testimonials {
    padding: 100px 220px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    row-gap: 64px;
    max-width: 1920px;
    margin: auto;
    &-title {
        grid-row: 1 / 2;
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $secondary;
    }
    &-button {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        justify-self: end;
        width: 255px;
        height: 52px;
        border-radius: 50px;
        background: none;
        font-family: Roboto Mono;
        line-height: 24px;
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #19707d;
        border: 1.5px solid #19707d;
        justify-self: end;
        justify-content: center;
        @include tr;
        &:hover {
            background: #19707d;
            color: #fff;
            box-shadow: 0 0px 80px #b8b8b8;
        }
        &::before {
            content: url(../../assets/icons/message.svg);
            margin-right: 16px;
        }
        &:hover::before {
            content: url(../../assets/icons/message.png);
        }
    }
    &-container {
        width: 480px;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    &-tcard {
        background: url(../../assets/images/white-rect.png);
        width: 100%;
        height: 220px;
        padding: 55px 56px 0 56px;
        border-radius: 10px;
        &__date {
            font-size: 14px;
            line-height: 16px;
            color: #b3b3b3;
        }
        &__text {
            margin-top: 10px;
            font-weight: 500;
            font-style: italic;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #2d2d2d;
        }
    }
    &-bcard {
        padding-left: 50px;
        display: flex;
        align-items: center;
        &__name {
            margin-left: 16px;
            font-style: italic;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            color: #000;
        }
    }
}

.animals {
    padding: 90px 220px 116px 220px;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
    &-title {
        position: absolute;
        left: 220px;
        top: 0;
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $secondary;
    }
    &-img {
        width: 76px;
        height: 73px;
        @include tr;
        &:hover {
            opacity: 0.7;
            transform: rotate(360deg);
        }
    }
}

//---------Pop-ups---------//

.btn-close {
    position: absolute;
    border-radius: 0 20px 0 0;
    right: 0;
    top: 0;
    @include tr;
    &:hover {
        background: #ff000059;
    }
}

#contact {
    display: none;
    box-shadow: 0 0 500px #2d2d2d;
    padding: 45px 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 5;
    &-title {
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $secondary;
        align-self: start;
    }
    &-form {
        margin-top: 26px;
        row-gap: 20px;
        display: flex;
        flex-direction: column;
    }
    &-card {
        row-gap: 8px;
        display: flex;
        flex-direction: column;
        &__subtitle {
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: $secondary;
        }
        &__input {
            box-shadow: 0px 2px 30px #0000000f;
            border-radius: 10px;
            width: 448px;
            height: 54px;
            text-indent: 20px;
            &-big {
                text-indent: 20px;
                box-shadow: 0px 2px 30px #0000000f;
                border-radius: 10px;
                width: 448px;
                height: 264px;
            }
        }
    }
    &-btn {
        margin-top: 32px;
    }
}

#feedback {
    display: none;
    box-shadow: 0 0 500px #2d2d2d;
    padding: 45px 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 5;
    &-title {
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $secondary;
        align-self: start;
    }
    &-form {
        margin-top: 26px;
        row-gap: 20px;
        display: flex;
        flex-direction: column;
    }
    &-card {
        row-gap: 8px;
        display: flex;
        flex-direction: column;
        &__subtitle {
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: $secondary;
        }
        &__input {
            box-shadow: 0px 2px 30px #0000000f;
            border-radius: 10px;
            width: 448px;
            height: 54px;
            text-indent: 20px;
            &-big {
                text-indent: 20px;
                box-shadow: 0px 2px 30px #0000000f;
                border-radius: 10px;
                width: 448px;
                height: 264px;
            }
        }
    }
    &-btn {
        margin-top: 32px;
    }
}

.text-error {
    color: #ff0000bb;
    font-style: italic;
    display: none;
}

.send-btn {
    background: $primary;
    box-shadow: 0px 2px 20px $boxShadow;
    border-radius: 20px;
    width: 448px;
    height: 54px;
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 18px;
    line-height: 24px;
    font-family: Roboto Mono;
    @include tr;
    &:hover {
        background: none;
        border: 2px solid $primary;
        color: $primary;
    }
}

#donate {
    display: none;
    box-shadow: 0 0 500px #2d2d2d;
    max-width: 568px;
    padding: 45px 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fafafa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 5;
    &-title {
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $secondary;
        align-self: start;
    }
    &-text {
        font-style: italic;
        font-size: 16px;
        line-height: 19px;
        color: #2d2d2d;
        margin-top: 32px;
        max-width: 448px;
    }
    &-container {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        margin-top: 20px;
    }
    &-payments {
        &__card {
            display: flex;
            margin-bottom: 16px;
            &-btn {
                width: 50%;
                height: 54px;
                box-shadow: 0px 2px 30px #0000000f;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                border: 1px solid #19707d;
                @include tr;
                &:first-child {
                    border-radius: 10px 0 0 10px;
                    background: #19707d;
                    color: #fff;
                }
                &:last-child {
                    border-radius: 0 10px 10px 0;
                    color: #19707d;
                }
                &:not(:nth-child(1)):hover {
                    background: #19707d;
                    color: #fff;
                }
            }
        }
        &__btn {
            width: 74px;
            border: 1px solid #19707d;
            box-shadow: 0px 2px 30px #0000000f;
            border-radius: 10px;
            height: 54px;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #19707d;
            @include tr;
            &:nth-child(3) {
                background: #19707d;
                color: #fff;
            }
            &:not(:nth-child(3)):hover {
                background: #19707d;
                color: #fff;
            }
        }
    }
    &-card {
        position: relative;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        &__subtitle {
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: $secondary;
        }
        &__input {
            box-shadow: 0px 2px 30px #0000000f;
            border-radius: 10px;
            width: 448px;
            height: 54px;
            text-indent: 20px;
        }
        &__pay {
            box-shadow: 0px 2px 30px #0000000f;
            border-radius: 10px;
            margin: 8px 0 24px;
            height: 54px;
            width: 100%;
            background: #fff;
            display: flex;
            align-items: center;
            &-container-1 {
                display: flex;
                margin-left: 16px;
                column-gap: 16px;
                justify-content: center;
                align-items: center;
            }
            &-container-2 {
                display: flex;
                justify-self: end;
            }
            &-input {
                max-width: 40px;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
                &-1::-webkit-outer-spin-button,
                &-1::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }
        }
        &__icons {
            width: 100px;
            margin-left: auto;
            right: 0;
            top: 0;
        }
    }
    &-ps {
        margin-top: 14px;
        display: flex;
        column-gap: 15px;
        &__text {
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: #2d2d2d;
        }
    }
}
