$primary: #2a8086;
$secondary: #0d444d;
$tertiary: #c5e1e5;
$hero-color: #f3f7f8;
$btn-color: #0d444d;
$boxShadow: #b9d5d999;
$borderBottom: #12575b40;

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@mixin slowTrans {
    transition: all 0.3s ease;
}

html {
    font-size: 18px;
}

.header-hero {
    padding-top: 110px;
    position: relative;
}

.nav {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 52px;
    margin-left: 53px;
    &-link {
        font-family: Roboto Mono;
        font-weight: 500;
        font-size: 1rem;
        color: $tertiary;
        text-transform: uppercase;
        line-height: 40px;
        @include slowTrans;
        &:hover {
            color: $secondary;
        }
        &:nth-child(3) {
            border-bottom: 2px solid;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1920px;
    padding: 0 220px;
    &-wrapper {
        z-index: 3;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        background: $primary;
        filter: drop-shadow(0px 1px 10px $borderBottom);
        min-height: 110px;
    }
    &-container {
        display: flex;
        flex-direction: row;
        max-width: 500px;
        &__input {
            background: $tertiary;
            display: none;
        }
        &__search {
            width: 32px;
            height: 32px;
            background-image: url(../../assets/icons/search.svg);
            @include slowTrans;
            &:hover {
                filter: drop-shadow(0 0 10px $tertiary);
                transform: rotate(360deg);
            }
        }
        &__login {
            text-transform: uppercase;
            color: $tertiary;
            margin: 0 18px 0 50px;
            @include slowTrans;
            &:hover {
                color: $secondary;
            }
        }
        &__signup {
            text-transform: uppercase;
            color: $tertiary;
            border: 1px solid $tertiary;
            border-radius: 100px;
            @include slowTrans;
            &:hover {
                background: $tertiary;
                color: $secondary;
                box-shadow: 0px 2px 50px $boxShadow;
            }
        }
        &__btn {
            display: none;
            background: url(../../assets/icons/menu.svg) center no-repeat;
            width: 35px;
            height: 35px;
        }
    }
}

.menu {
    filter: drop-shadow(0px 1px 10px $borderBottom);
    display: none;
    margin-bottom: -2px;
    z-index: 2;
    position: fixed;
    width: 100%;
    background: $primary;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    &-link {
        color: $tertiary;
        font-family: Roboto Mono;
        font-weight: 500;
        font-size: 1rem;
        color: $tertiary;
        text-transform: uppercase;
        line-height: 40px;
        @include slowTrans;
        &:hover {
            color: $secondary;
        }
    }
}

.aside {
    &-link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &__bg {
            position: absolute;
            z-index: 0;
        }
        &__img {
            z-index: 1;
            width: 76px;
            @include slowTrans;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    &-container {
        width: 105px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        &:not(:first-child) {
            margin-top: 40px;
        }
    }
    &-name {
        font-family: Roboto Mono;
        margin-top: 2px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #2d2d2d;
    }
}

.main-section {
    padding: 40px 220px;
    display: grid;
    grid-template-columns: 155px auto;
}

.maincam {
    display: grid;
    grid-template-rows: repeat(3, auto);
    &-title {
        font-family: Rubik;
        color: $secondary;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    &-card {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        justify-self: end;
        &__btn {
            width: 42px;
            height: 42px;
            &:first-child {
                background: url(../../assets/icons/i.svg) center no-repeat;
                margin-right: 25px;
            }
            &:last-child {
                background: url(../../assets/icons/Bttn.svg) center no-repeat;
            }
        }
    }
    &-subtitle {
        font-family: Rubik;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: $secondary;
    }
    &-iframe {
        margin-top: 8px;
        border-radius: 20px;
    }
}

.sidecam {
    padding: 55px 0 100px 0;
    grid-column: 2 / 3;
    &-subtitle {
        font-family: Rubik;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: $secondary;
    }
    &-container {
        margin-top: 8px;
        display: flex;
        column-gap: 32px;
        flex-direction: row;
        align-items: center;
        &__iframe {
            border-radius: 17px;
        }
        &__listener {
            display: grid;
            width: 25px;
            height: 104px;
            &-btn {
                width: 52px;
                &:first-child {
                    background: url(../../assets/icons/next.svg) no-repeat center;
                }
                &:last-child {
                    background: url(../../assets/icons/perv.svg) no-repeat center;
                }
            }
        }
    }
}

.information {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: repeat(2, 1fr);
    &-title {
        font-family: Rubik;

        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $secondary;
    }
}

.info {
    display: grid;
    row-gap: 36px;
    &-card {
        &__subtitle {
            font-size: 16px;
            line-height: 19px;
            color: $secondary;
            font-weight: 500;
        }
        &__text {
            max-width: 520px;
            font-size: 14px;
            line-height: 20px;
            color: $secondary;
        }
    }
}

.facts {
    &-container {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    &-card {
        list-style: url(../../assets/icons/facts.svg);
    }
    &-text {
        font-size: 14px;
        line-height: 20px;
        color: $secondary;
    }
}

.donate {
    background: url(../../assets/images/Donate-illustrations.png) center no-repeat;
    display: block;
    margin: auto;
    height: 520px;
    width: 1920px;
    margin-bottom: -87px;
    display: flex;
    justify-content: center;
    position: relative;

    &-btn {
        position: absolute;
        top: 310px;
        width: 356px;
        height: 52px;
        border-radius: 50px;
        background: $tertiary;
        font-family: Roboto Mono;
        line-height: 24px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: $btn-color;
        border: 1px solid $tertiary;
        filter: drop-shadow(0px 2px 20px $boxShadow);
        @include slowTrans;
        &:hover {
            background: #fff;
            filter: drop-shadow(0px 2px 80px $boxShadow);
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    width: 1920px;
    padding: 0 220px;
    &-wrapper {
        background: #196469;
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        background: $primary;
    }
    &-container {
        padding-left: 220px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
    &-author {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
        text-align: right;
        text-transform: uppercase;
        color: #ffffff;
    }
}
