$primary: #2a8086;
$secondary: #0d444d;
$tertiary: #c5e1e5;
$hero-color: #f3f7f8;
$btn-color: #0d444d;
$boxShadow: #b9d5d999;
$borderBottom: #12575b40;

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@mixin slowTrans {
    transition: all 0.3s ease;
}

.nav-link:nth-child(2) {
    border-bottom: 2px solid;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 107px 0 16px 0;
    position: relative;
    max-width: 1920px;
    margin: auto;
    &-wrapper {
        background: $primary;
        width: 100%;
        height: 100%;
    }
    &-title {
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $tertiary;
        position: absolute;
        left: 220px;
        top: 26px;
    }
    &-container {
        position: relative;
    }
    &-card {
        background: url(../../assets/icons/oval.svg) center no-repeat;
        width: 110px;
        height: 103px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        &-1 {
            left: 150px;
            top: 370px;
        }
        &-2 {
            left: 320px;
            top: 430px;
        }
        &-3 {
            left: 670px;
            top: 534px;
        }
        &-4 {
            left: 1020px;
            top: 380px;
        }
        &__img {
            width: 68px;
            @include slowTrans;
            &:hover {
                transform: rotate(360deg);
            }
        }
    }
    &-sizers {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        position: absolute;
        right: 220px;
        bottom: 25px;
        &__btn {
            width: 32.52px;
            height: 32.52px;
            background: #ffffff66;
            border: 1.5px solid #fff;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include slowTrans;
            &:hover {
                background: $primary;
            }
        }
    }
}
